body {
    background: white;
    color: black;
    font-size: 52px;
    margin-top: 0;
    margin: 2px;
}

/*
* {
    border: 0;
    margin: 0;
}
*/

/* testing for nook simple touch */
.all-container {
    max-width: 600px;
    max-height: 800px;
}

table{
    border-collapse: collapse;
    border: 1px solid #333333;
    border-radius: 5px;
}

table td {
    border: 1px solid #333333;
    padding: 6px;
    line-height: 1;
}

table th {
    border: 1px solid #333333;
    font-style: italic;
}

.heading {
    display: inline-block;
    border-bottom: 1px solid #666666;
    margin-bottom: 3px;
    padding-bottom: 5px;
    width: 100%;
}

.body-container {
    width: 100%;
    text-align: center;
}

.datetime-heading {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
}

.lilmage {
    border: 1px solid #333333;
    background: lightgrey;
}

.attainable-time {
    font-weight: bold;
}

.unattainable-time {
    font-style: italic;
    color: #888888;
}

.prefix {
    display: inline-block;
    font-style: italic;
    font-size: 20px;
    vertical-align: middle;
}

.bigbold {
    display: inline-block;
    font-weight: bold;
}

.uvi, .aqi, .temperature {
    font-size: 48px;
    padding: 2px;
    display: inline-block;
}

.alerttable {
    padding-bottom: 15px;
}

.weathertable, .munitable, .barttable {
    padding-top: 8px;
}

.city-heading {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding-top: 1px;
}

.precipitation-graph {
    margin: 0 auto;
    margin-top: 2px;
    border: 1px solid #333333;
    display: inline-block;
}

.precipitation-graph-header {
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #333333;
    padding-bottom: 2px;
    font-style: italic;
}

.precipitation-graph-data {
    padding-top: 2px;
    font-family: monospace;
    font-size: 20px;
    height: auto;
}

.hourly-precipitation-graph {
    border: 2px solid black;
    margin-bottom: 10px;
}

.hourly-icon {
    margin-left: -10px;
}

table.outer-main-table {
    border: none;
    margin: 0 auto;
}

table.outer-main-table > tbody > tr > th,
table.outer-main-table > tbody > tr > td
{
    border: none;
    padding: 0px 14px;
}

.right {
}

.lowpri {
    font-size: 36px;
}

table.outer-temps-table {
    border: none;
}

table.outer-temps-table > tbody > tr > th,
table.outer-temps-table > tbody > tr > td
{
    border: none;
    padding: 0px;
}

.hourly-temps {
    line-height: 1;
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
}

.daily-temps {
    line-height: 1;
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
}

.daily-temp-display {
    font-size: 24px;
    font-style: italic;
    display: inline-block;
}

.alerts {
    margin-top: 5px;
    font-size: 24px;
    line-height: 1;
}

.histogram {
    position: relative;
    height: 40px;
    font-size: 0;
    line-height: 0;
}

.histogram span {
    position: absolute;
    display: inline-block;
    background: #000000;
    bottom: 0px;
}

.bolded {
    font-weight: bold;
}
